version: 2.1
orbs:
  advanced-checkout: vsco/advanced-checkout@1.0.0
workflows:
  ansible-ndfc-gates:
    jobs:
      - clone-repo
      # - build-collection:
      #     requires:
      #       - clone-repo
      # - sanity-test:
      #     requires:
      #       - build-collection
      #     filters:
      #       branches:
      #         ignore:
      #           - main
      #           - develop
      #           - release-branch
      # - full-regresion-test:
      #     requires:
      #       - build-collection
      #     filters:
      #       branches:
      #        only:
      #          - release-branch
      # - deploy-on-galaxy:
      #     filters:
      #       tags:
      #         only: /^2.*/
      #       branches:
      #         ignore: /.*/

jobs:

  clone-repo:
    machine: true
    resource_class: en-hackathon/ndfc_resource
    environment:
      PROJECT_HOME: /home/circleci/project
      PROJECT_GIT_REPO: https://github.com/en-hackathon/ansible-dcnm.git
    # This was needed because the next step does an rm but several write protected files
    # under /home/circleci/project from previous git clone
    # For this to work properly I did two things
    # 1) Added ssh key in .ssh and on github - this was likely not needed since I am using https
    # 2) Removed url.ssh://git@github.com.insteadof=https://github.com in git config
    steps:
      - run:
          command: |
            rm -rf $PROJECT_HOME
            mkdir -p $PROJECT_HOME
            git clone --branch $CIRCLE_BRANCH $PROJECT_GIT_REPO $PROJECT_HOME
  
  build-collection:
    machine: true
    resource_class: en-hackathon/ndfc_resource
    steps:
      # - advanced-checkout/shallow-checkout:
      #     fetch_lfs: true
      #     fetch_submodules: true
      - run:
          command: |
            /home/circleci/.pyenv/bin/pyenv local en-hackathon
            /home/circleci/.pyenv/shims/ansible-galaxy collection list
            rm -rf /home/circleci/.ansible/collections/ansible_collections/mikewiebe/test-ci-publish/
            echo 'collection removed'
            /home/circleci/.pyenv/shims/ansible-galaxy collection list
            cd /home/circleci/project/
            /home/circleci/.pyenv/shims/ansible-galaxy collection build
            /home/circleci/.pyenv/shims/ansible-galaxy collection install ./mikewiebe*
            /home/circleci/.pyenv/shims/ansible-galaxy collection list
  
  sanity-test:
    machine: true
    resource_class: en-hackathon/ndfc_resource
    steps:
      - run:
          command: |
            # Enable Python Virtual Environment
            /home/circleci/.pyenv/bin/pyenv local en-hackathon

            # Display Ansible Version
            /home/circleci/.pyenv/shims/ansible --version

            # Run Ansible Sanity Test
            cd /home/circleci/en-hackathon
            source source_env
            /home/circleci/.pyenv/shims/ansible-playbook -i ndfc_inventory.yml ndfc_tests.yml -v

  full-regresion-test:
    machine: true
    resource_class: en-hackathon/ndfc_resource
    steps:
      - run:
          command: |
            # Enable Python Virtual Environment
            /home/circleci/.pyenv/bin/pyenv local en-hackathon

            # Display Ansible Version
            /home/circleci/.pyenv/shims/ansible --version

            # Run Ansible Full Regression Test
            cd /home/circleci/en-hackathon
            source source_env
            /home/circleci/.pyenv/shims/ansible-playbook -i ndfc_inventory.yml ndfc_tests.yml -v

  deploy-on-galaxy:
    machine: true
    resource_class: en-hackathon/ndfc_resource
    steps:
      - run:
          command: |
            # This was needed because the next step does an rm but several write protected files
            # under /home/circleci/project from previous git clone
            rm -rf /home/circleci/project
            git clone https://github.com/en-hackathon/ansible-dcnm.git /home/circleci/project
            cd /home/circleci/project
            git status .
            git checkout $CIRCLE_TAG
            git status .
            /home/circleci/.pyenv/bin/pyenv local en-hackathon
            /home/circleci/.pyenv/shims/ansible-galaxy collection list
            rm -rf /home/circleci/.ansible/collections/ansible_collections/mikewiebe/test-ci-publish/
            /home/circleci/.pyenv/shims/ansible-galaxy collection list
            cd /home/circleci/project/
            /home/circleci/.pyenv/shims/ansible-galaxy collection build
            /home/circleci/.pyenv/shims/ansible-galaxy collection install ./mikewiebe*
            /home/circleci/.pyenv/shims/ansible-galaxy collection list
            /home/circleci/.pyenv/shims/ansible-galaxy collection publish ./mikewiebe-test_ci_publish-${CIRCLE_TAG}.tar.gz --token=$ANSIBLE_GALAXY_TOKEN
