version: 2.1
workflows:
  testing:
    jobs:
      - runner-test
jobs:
  runner-test:
    machine: true
    resource_class: en-hackathon/ndfc_resource
    steps:
      - run:
          command: |
            # env
            whoami
            /home/circleci/.pyenv/bin/pyenv local en-hackathon
            python --version
            ansible --version
