version: 2.1
workflows:
  testing:
    jobs:
      - runner-test
jobs:
  runner-test:
    machine: true
    resource_class: en-hackathon/ndfc_resource
    steps:
      - run: echo "Hi I'm on Runners! Mike W"